* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	text-decoration: none;
	font-size: 14px;
	font-family: sans-serif;
}
body {
	width: 100%;
	min-height: 100vh;
	background-color: rgb(243, 243, 243);
	margin: 0px;
	padding: 0px;
	display: flex;
	justify-content: center;
}
.instagram-container {
	/*background-color: green;*/
	display: flex; /*deixa os itens dentro do container em linha*/
	align-items: center; /*alinhamento vertical (eixo y) dos itens*/
	justify-content: start; /*alinhamento horizontal (eixo x) dos itens*/
	width: 60%;
	height: 100vh;
	box-sizing: border-box;
}
.imagem-container {
	/*background-color: blue;*/
	display: flex;
	justify-content: flex-end;
	width: 50%;
}
.imagem-container img {
	
}
.login-container {
	/*background-color: red;*/
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column; /*Coloca o display em coluna*/
	width: 50%;
	min-height: 34rem;
}
.username-form {
	width: 20rem;
	height: 2rem;
	margin-bottom: 8px;
}
.password-form {
	width: 20rem;
	height: 2rem;
	margin-bottom: 8px;
}
.card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	background-color: #ffffff;
	width: 75%;
	padding: 1.3rem 0;
	border: 1px solid lightgray;
}
.card:nth-child(1) { /*seleciona o primeiro card*/
	min-height: 19rem;
}
.entrar-container button {
	background-color: #0095f6;
	color: #ffffff;
	height: 30px;
	padding: 2px 8px;
	border-radius: 4px;
	box-shadow: none;
	border: none;
	cursor: pointer;
	width: 100%;
	margin-bottom: 15px;
}
.entrar-container p {
	margin-bottom: 20px;
}
.botao-facebook {
	color: rgba(var(--d69,0,149,246),1);
	font-weight: 600;
}
.botao-senha {
	font-size: 12px;
	text-decoration: none;
	color: rgba(var(--fe0,0,55,107),1);
}
.download-container {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	flex-direction: column;
}
.download-container p {
	margin-bottom: 20px;
}
.download {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3rem;
	width: 10rem;
	background-size: cover;
	margin: 1px;
}
.img-app-store {
	height: 40px;
	margin: 5px;
}
.img-google-store {
	height: 40px;
	margin: 5px;
}
.cadastro-container {
	margin: 10px;
}
.cadastro-container a {
	color: rgba(var(--d69,0,149,246),1);
	font-weight: 600;
}

@media (max-width: 533px) {
	.instagram-container {
		width: 90%;
	}
	.imagem-container {
		display: none;
	}
	.login-container {
		width: 100%;
	}
	.card {
		background-color: rgb(243, 243, 243);
		border: 1px solid transparent;
	}
}